################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/DesignTimeBuild/.dtbcache.v2
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/FileContentIndex/6bc9fbed-7ab0-4829-817e-36304ac0e726.vsidx
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/FileContentIndex/7449b9a7-62de-495a-9c43-61aa6a02aa75.vsidx
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/FileContentIndex/8b486a36-8d4e-4a63-bbc1-68f26fdbb651.vsidx
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/FileContentIndex/b8305d95-e25b-4597-acd8-0a6cf2ccf076.vsidx
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/FileContentIndex/ee8e9cc3-1113-440b-ac5a-403453f350f7.vsidx
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/v17/.futdcache.v2
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/v17/.suo
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/v17/DocumentLayout.backup.json
/AssignmentWk47/BusinessLogic/.vs/BusinessLogic/v17/DocumentLayout.json
/AssignmentWk47/BusinessLogic/.vs/ProjectEvaluation/businesslogic.metadata.v9.bin
/AssignmentWk47/BusinessLogic/.vs/ProjectEvaluation/businesslogic.projects.v9.bin
/AssignmentWk47/BusinessLogic/.vs/ProjectEvaluation/businesslogic.strings.v9.bin
/AssignmentWk47/BusinessLogic/BusinessLogic/bin/Debug/net8.0/BusinessLogic.deps.json
/AssignmentWk47/BusinessLogic/BusinessLogic/bin/Debug/net8.0/BusinessLogic.dll
/AssignmentWk47/BusinessLogic/BusinessLogic/bin/Debug/net8.0/BusinessLogic.exe
/AssignmentWk47/BusinessLogic/BusinessLogic/bin/Debug/net8.0/BusinessLogic.pdb
/AssignmentWk47/BusinessLogic/BusinessLogic/bin/Debug/net8.0/BusinessLogic.runtimeconfig.json
/AssignmentWk47/BusinessLogic/BusinessLogic/obj/Debug/net8.0/ref/BusinessLogic.dll
/AssignmentWk47/BusinessLogic/BusinessLogic/obj/Debug/net8.0/refint
/AssignmentWk47/BusinessLogic/BusinessLogic/obj/Debug/net8.0
/AssignmentWk47/BusinessLogic/BusinessLogic/obj
/AssignmentWk48/.vs/AssignmentWk48/FileContentIndex/02a7990a-8455-4b50-99d3-eb9e516b194c.vsidx
/AssignmentWk48/.vs/AssignmentWk48/FileContentIndex/26aa0d8d-4c0e-4849-a9fc-5c4208fb9123.vsidx
/AssignmentWk48/.vs/AssignmentWk48/v17/.wsuo
/AssignmentWk48/.vs/AssignmentWk48/v17/DocumentLayout.json
/AssignmentWk48/.vs/slnx.sqlite
/AssignmentWk48/.vs/VSWorkspaceState.json
/AssignmentWk48/Banking/.vs
/AssignmentWk48/Banking/Banking/obj/Release/net8.0
/AssignmentWk48/Banking/Banking/obj/Debug/net8.0/Banking.AssemblyInfo.cs
/AssignmentWk48/Banking/Banking/obj/Debug/net8.0/Banking.AssemblyInfoInputs.cache
/AssignmentWk48/.vs/AssignmentWk48/FileContentIndex/9db8afa5-2b62-4366-81a2-b051e15a5be4.vsidx
/AssignmentWk48/Banking/Banking/obj
/AssignmentWk49/Concert/.vs/Concert
/AssignmentWk48/.vs/AssignmentWk48/v17
/AssignmentWk49/Concert/Concert/obj
/AssignmentWk49/Concert/.vs/ProjectEvaluation
/AssignmentWk49/Concert/Concert/bin/Debug/net8.0
/AssignmentWk49/ConcertDemo/.vs
/AssignmentWk49/ConcertDemo/ConcertDemo/bin/Debug/net8.0
/AssignmentWk49/ConcertDemo/ConcertDemo/obj/Debug/net8.0
/AssignmentWk49/ConcertDemo/ConcertDemo/obj
/AssignmentWk49/ConcertDemo/API/bin/Debug/net8.0
/AssignmentWk49/ConcertDemo/API/obj
